p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  background: #FFFFF;
  background-color: #FFFFF;
}
pre code {
  white-space: inherit;
}
code {
  background: @gb-palette-black;
}
